<div class="container">

    <%= render :partial => "home/header" %>
		
	<div class="main">
	
		<div class="item">

			<div class="date">
				<div>DEC</div>
				<span>29</span>
			</div>

			<div class="content">

				<h1>Bug Fix - Password Reset</h1>

				<div class="body">

					<p>The password reset link should now work properly. The email is now being sent directly from the server rather than trying to route through Telus' mail server, which was causing delays and failures.</p>

				</div>

			</div>

		</div>

		<div class="item">

			<div class="date">
				<div>FEB</div>
				<span>16</span>
			</div>

			<div class="content">

				<h1>Web Template Applied</h1>

				<div class="body">

					<p>The web template has been applied. Navigation links will be updated soon.</p>

					<blockquote><p>The web template is called 'bittersweet' and I thought that the green theme would go well with the SAFB logo.</p></blockquote>
					
					<p>The template is from Open Source Web Design and is free to use. The site can be found <a href='http://www.oswd.org/design/preview/id/3569'>here.</a></p>

				</div>

			</div>

		</div>
		
		<div class="item">

			<div class="date">
				<div>FEB</div>
				<span>09</span>
			</div>

			<div class="content">

				<h1>Project Started</h1>

				<div class="body">

					<p>Food Bank Client Services Database creation has begun full-swing. Some of the management objects will include:</p>

					<ul>
						<li>Clients</li>
						<li>Families</li>
						<li>Volunteers</li>
                        <li>Donations</li>
                        <li>Hampers</li>
					</ul>

					<p>Reporting system will follow site creation.</p>
				
				</div>

			</div>

		</div>

	</div>

    <%= render :partial => "home/navigation" %>
	
	<div class="clearer"><span></span></div>

    <%= render :partial => "home/footer" %>

</div>
