<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @refagencycategory.description %>
</p>


<%= link_to 'Edit', edit_refagencycategory_path(@refagencycategory) %> |
<%= link_to 'Back', refagencycategories_path %>
